@import '../../layouts/Layout.scss';
.web {
  min-height: 312px;
  padding:42px 15px;
}
.web > * {
  max-width: $maxWidth;
  margin:auto;
}
.web > .title {
  padding-right: 20%;
}
.web > .quote {
  min-height: 140px;
}
.mobile > .title {
  margin-bottom: 50px;
}

.quote {
  text-align: right;
}
.title {
  padding: 0 15px;
  text-align: left;
}

.quote-mobile {
  text-align: left;
  padding-left: 15px;
  padding-right: 40%;
  min-height: 200px;
}

.bgImage {
  position: absolute;
  left: 0;
  z-index: -1;
  width:100%;
}