.button {
  background-color: #ff9524;
  color: #fff;
  border: 1px solid  #f07c00;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fd8200;
}
.button:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255,149,36,.5);
  box-shadow: 0 0 0 0.2rem rgba(255,149,36,.5);
  outline: 0;
}