
main{
    position: relative;
}

.SlideIn-enter, .SlideIn-exit {
    position: absolute;
    width: 60%;
    left: 20%;
    top: -20px;
}
.SlideIn-enter {
    opacity: 0;
    transform: translateX(150px);
}
.SlideIn-enter.SlideIn-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.4s ease-out;
}
.SlideIn-exit {
    opacity: 1.0;
    transform: translateX(0);
}
.SlideIn-exit.SlideIn-exit-active {
    opacity: 0;
    transform: translateX(-150px);
    transition: all 0.2s ease-out;
}