
.PageNotFoundContainer {
  background: grey;
  margin: 0px 0px;
  min-height: 400px;
}
.PageNotFoundContent{
  padding: 50px 40px;
  text-align:center;
  color: #222222;
  position: relative;
  top: 300px;
}
