body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed',sans-serif;
}

h1 {
  font-size: 60px;
  color: #4B19CD;
  font-weight: 300;
  line-height: 48px;
}
h2 {
  font-size: 32px;
  color: #333333;
  font-weight: 300;
}
p {
  font-size: 22px;
  color: #333333;
}
a {
  color: #ff9524 !important;
  font-weight: bolder;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 26px;
    line-height: 24px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}