$maxWidth: 1140px;
.layout {
  text-align: center;
}
header.layout-header > * {
  @extend .withMargin;
}

header.layout-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background:white;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}
header.layout-header-scrolled {
  @extend header.layout-header;
  -webkit-box-shadow: 0 0.5em 1em rgba(51,51,51,.25);
  box-shadow: 0 0.5em 1em rgba(51,51,51,.25);
}

.withMargin {
  max-width: $maxWidth;
  margin:auto;
  padding:0 15px;
}